table { 
  width: 800px;
  font-family: sans-serif;
  font-weight: 100;
  border-collapse: collapse;
  overflow: scroll;
  box-shadow: 0 0 5px black;
  margin: 0;
}

th,td {
  background-color: #eeee;
  padding: 15px;
}

th {
  text-align: left;
  color: white;

}

thead th {
background-color: #00ADB5;
}

tbody tr:hover {
  background-color: #00ADB5;
}

tbody td:hover::before {
  content: "";
  background-color: #eeee;
}

